    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div>

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 data-translate="about_title" class="section-heading">Acerca de Mí</h2>
                </div>
            </div>

            <div class="row about-me__content" data-aos="fade-up">
                <div class="column large-full">
                    <p  data-translate="about_me_section" class="lead">
                    Mi investigación artística se articula en torno al cuerpo como territorio de experiencia y transformación, explorando sus límites materiales, simbólicos y sociales. Obras como Muerde si tienes que Morder, Hartazgo y Cenicera plantean acciones performáticas que hacen visible la tensión entre lo íntimo y lo colectivo, mientras que Cuerpo invadido y Punto a Punto expanden esta reflexión hacia la instalación y la relación entre espacio, objeto y gesto. En conjunto, estas obras buscan abrir preguntas sobre la vulnerabilidad, la resistencia y las formas en que el arte activa procesos de sentido desde lo corporal.
                    </p>
                </div>
            </div>
    
    

        </div> <!-- end about-me -->

    </section> <!-- end s-about -->
