<!-- contact
    ================================================== -->
    <section id="contact" class="s-contact target-section">

        <div class="row heading-block" data-aos="fade-up">
            <div class="column large-full">
                <h2 data-translate="contact_title" class="section-heading">Contacto</h2>
            </div>
        </div>

        <div class="row contact-main" data-aos="fade-up">
            <div class="column large-full">
                <p class="contact-email">
                    <a href="mailto:danielatafurartista@gmail.com">danielatafurartista@gmail.com
                    </a>
                </p>
            </div>
        </div>

        <div class="row contact-infos" data-aos="fade-up" data-aos-anchor=".contact-main">

            <div class="column large-7 medium-full contact-social">
                <h4>Social</h4>
                <ul>
                    <li><a href="https://www.instagram.com/danielasntr" title="Instagram">Instagram</a></li>
                </ul>
            </div>

        </div>

    </section>
