<!-- intro
================================================== -->
<section id="intro" class="s-intro target-section">

    <div class="row intro-content">

        <div class="column large-9 mob-full intro-text">
            <h3 data-translate="hero_greeting">Hola, soy Pablo</h3>
            <h1>
                <span data-translate="hero_title_line1">Estoy haciendo esta</span> <br>
                <span data-translate="hero_title_line2">pagina web para que Dani</span> <br>
                <span data-translate="hero_title_line3">vea como es la vuelta <3</span>
            </h1>
        </div>

        <div class="intro-scroll">
            <a href="#works" class="intro-scroll-link smoothscroll" data-translate="scroll_more">
                Scroll For More
            </a>
        </div>

        <div class="intro-grid"></div>
        <div class="intro-pic"></div>

    </div> <!-- end row -->

</section> <!-- end intro -->
