<!-- works
================================================== -->
<section id="works" class="s-works target-section">

    <div class="row heading-block heading-block--center" data-aos="fade-up">
        <div class="column large-full">
            <h2 data-translate="works_subtitle" class="section-heading section-heading--centerbottom">Obras</h2>
        </div>
    </div> <!-- end heading-block -->

    <div class="masonry-wrap">

        <div class="masonry">
            <div class="grid-sizer"></div>

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="project.html?project=puntoapunto" class="project-link" title="Punto a Punto">
                            <img src="images/20250627_204837.jpg" 
                                 srcset="images/20250627_204837.jpg 1x, images/20250627_204837.jpg 2x" alt="">
                            <div class="item-folio__caption">
                                <p>Ver más</p>
                            </div>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                            Punto a Punto, instalación y performance.
                        </h4>
                    </div>

                </div>
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="project.html?project=cuerpoinvadido" class="project-link" title="Cuerpo Invadido">
                            <img src="images/20250628_180640.jpg" 
                                 srcset="images/20250628_180640.jpg 1x, images/20250628_180640.jpg 2x" alt="">
                            <div class="item-folio__caption">
                                <p>Ver más</p>
                            </div>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                            Cuerpo Invadido, instalación.
                        </h4>
                    </div>
                </div>
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                        
                    <div class="item-folio__thumb">
                        <a href="project.html?project=cenicera" class="project-link" title="Cenicera">
                            <img src="images/trabajo/PuntoAPunto.png"
                                 srcset="images/trabajo/PuntoAPunto.png 1x, images/trabajo/PuntoAPunto.png 2x" alt="">
                            <div class="item-folio__caption">
                                <p>Ver más</p>
                            </div>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                            Cenicera, video performance.
                        </h4>
                    </div>
                </div>
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="project.html?project=hartazgo" class="project-link" title="Hartazgo">
                            <img src="images/trabajo/instalacion.png" 
                                 srcset="images/trabajo/instalacion.png 1x, images/trabajo/instalacion.png 2x" alt="">
                            <div class="item-folio__caption">
                                <p>Ver más</p>
                            </div>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                           Hartazgo, performance.
                        </h4>
                    </div>
                </div>
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                        
                    <div class="item-folio__thumb">
                        <a href="project.html?project=muerde" class="project-link" title="Muerde si tienes que morder">
                            <img src="images/trabajo/performance.png" 
                                 srcset="images/trabajo/performance.png 1x, images/trabajo/performance.png 2x" alt="">
                            <div class="item-folio__caption">
                                <p>Ver más</p>
                            </div>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                            Muerde si tienes que morder, performance.
                        </h4>
                    </div>
                </div>
            </div>

        </div> <!-- end masonry -->

    </div> <!-- end masonry-wrap -->

</section> <!-- end s-work -->
