<!-- works
================================================== -->
<section id="works" class="s-works target-section">

    <div class="row heading-block heading-block--center" data-aos="fade-up">
        <div class="column large-full">
            <h2 data-translate="works_subtitle" class="section-heading section-heading--centerbottom">Obras</h2>
        </div>
    </div> <!-- end heading-block -->

    <div class="masonry-wrap">

        <div class="masonry">
            <div class="grid-sizer"></div>

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="images/20250627_204837.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                            <img src="images/20250627_204837.jpg" 
                                 srcset="images/20250627_204837.jpg 1x, images/20250627_204837.jpg 2x" alt="">
                        </a>    
                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                    </div>

                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                            Daniela haciendome un corazon de manera bonita
                        </h4>
                        <p class="item-folio__cat">
                            -
                        </p>
                    </div>

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="images/20250628_180640.jpg" class="thumb-link" title="Woodcraft" data-size="1050x700">
                            <img src="images/20250628_180640.jpg" 
                                 srcset="images/20250628_180640.jpg 1x, images/20250628_180640.jpg 2x" alt="">
                        </a>
                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                    </div>
                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                            Daniela siendo bonita
                        </h4>
                        <p class="item-folio__cat">
                            -
                        </p>
                    </div>
                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                        
                    <div class="item-folio__thumb">
                        <a href="images/trabajo/PuntoAPunto.png" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                            <img src="images/trabajo/PuntoAPunto.png"
                                 srcset="images/trabajo/PuntoAPunto.png 1x, images/trabajo/PuntoAPunto.png 2x" alt="">
                        </a>
                        <a href="https://www.banrepcultural.org/exposiciones/el-suelo-por-donde-camino" class="item-folio__project-link" title="Project link" target="_blank"></a>
                    </div>
                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                            Punto a Punto
                        </h4>
                        <p class="item-folio__cat">
                            -
                        </p>
                    </div>
                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="images/trabajo/instalacion.png" class="thumb-link" title="Grow Green" data-size="1050x700">
                            <img src="images/trabajo/instalacion.png" 
                                 srcset="images/trabajo/instalacion.png 1x, images/trabajo/instalacion.png 2x" alt="">
                        </a>
                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                    </div>
                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                           Cuerpo Invadido
                        </h4>
                        <p class="item-folio__cat">
                            Tecnica Mixta
                        </p>
                    </div>
                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                        
                    <div class="item-folio__thumb">
                        <a href="images/trabajo/performance.png" class="thumb-link" title="Guitarist" data-size="1050x700">
                            <img src="images/trabajo/performance.png" 
                                 srcset="images/trabajo/performance.png 1x, images/trabajo/performance.png 2x" alt="">
                        </a>
                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                    </div>
                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                            Muerde si tienes que morder
                        </h4>
                        <p class="item-folio__cat">
                           Performance
                        </p>
                    </div>
                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div>
             <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                        
                    <div class="item-folio__thumb">
                        <a href="images/trabajo/performance.png" class="thumb-link" title="Guitarist" data-size="1050x700">
                            <img src="images/trabajo/performance.png" 
                                 srcset="images/trabajo/performance.png 1x, images/trabajo/performance.png 2x" alt="">
                        </a>
                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                    </div>
                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                            Muerde si tienes que morder
                        </h4>
                        <p class="item-folio__cat">
                           Performance
                        </p>
                    </div>
                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div>
             <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                        
                    <div class="item-folio__thumb">
                        <a href="images/trabajo/performance.png" class="thumb-link" title="Guitarist" data-size="1050x700">
                            <img src="images/trabajo/performance.png" 
                                 srcset="images/trabajo/performance.png 1x, images/trabajo/performance.png 2x" alt="">
                        </a>
                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                    </div>
                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                            Muerde si tienes que morder
                        </h4>
                        <p class="item-folio__cat">
                           Performance
                        </p>
                    </div>
                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div>
             <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                        
                    <div class="item-folio__thumb">
                        <a href="images/trabajo/performance.png" class="thumb-link" title="Guitarist" data-size="1050x700">
                            <img src="images/trabajo/performance.png" 
                                 srcset="images/trabajo/performance.png 1x, images/trabajo/performance.png 2x" alt="">
                        </a>
                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                    </div>
                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                            Muerde si tienes que morder
                        </h4>
                        <p class="item-folio__cat">
                           Performance
                        </p>
                    </div>
                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div>
             <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                        
                    <div class="item-folio__thumb">
                        <a href="images/trabajo/performance.png" class="thumb-link" title="Guitarist" data-size="1050x700">
                            <img src="images/trabajo/performance.png" 
                                 srcset="images/trabajo/performance.png 1x, images/trabajo/performance.png 2x" alt="">
                        </a>
                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                    </div>
                    <div class="item-folio__text">
                        <h4 class="item-folio__title">
                            Muerde si tienes que morder
                        </h4>
                        <p class="item-folio__cat">
                           Performance
                        </p>
                    </div>
                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div> <!-- end masonry__brick -->

        </div> <!-- end masonry -->

    </div> <!-- end masonry-wrap -->

</section> <!-- end s-work -->
